* {
    margin: 0px;
    padding: 0px;
}
#nav-container {
    padding:30px;
    background-color: brown;
    display: flex;
}
nav ul {
    position: absolute;
    left: 70%;
}

nav ul li {
    display: inline;
}

.nav-item {
    text-decoration: none;
    color: blanchedalmond;
}

#logo-text {
    text-decoration: none;
    color: aliceblue;
}


#photo-text {
    color:white;
    position: absolute;
    top: 75%;
    left: 37%;
    font-size: 80px;
}

.row {
    display: flex;
}

#footer {
    background-color: black;
    padding:10%;
}
.column-opt {
    color: white;
}
#col1  #col2{
    display: inline-block;
}

#col2 {
    position: absolute;
    left:90%;
}

#footer-title {
    color: white;
    text-align: center;
    margin-bottom: 30px;
}

.card {
    background-color: brown;
    padding:10%;
}
.card-title {
    color: white;
    text-align: center;
    margin-bottom: 20px;
}
.card-text {
    text-align: justify;
    color: white;
    margin-bottom: 15px;
}

.card-footer {
    text-decoration: overline;
    color:white;
}